.title_delivery {
  width: 300px;
}

.form {
  border: 0; 
  box-shadow: var(--box-shadow);
  padding: 15px;
  width: 300px;
  background-color: var(--color-white);
}

.wrapper_for_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_form {
  margin: 0;
  font-size: var(--text-size-delivery);
  padding-bottom: var(--indent-down-elements-form);
  font-weight: bold;
}

.input_date {
  padding: var(--padding-input-date-and-select_time_delivery);
  border-radius: var(--border-radius-input-date-and-time);
  font-size: var(--text-size-delivery);
  margin-bottom: var(--indent-down-elements-form);
  text-align: center;
}

.select_time_delivery {
  padding: var(--padding-input-date-and-select_time_delivery);
  width: 150px;
  font-size: var(--text-size-delivery);
  margin-bottom: var(--indent-down-elements-form);
  text-align: center;
  border-radius: var(--border-radius-input-date-and-time);
}

.button_for_form_delivery {
  display: block;
  padding: var(--spacing-small) var(--spacing-medium);
  border: 1px solid var(--color-unaccent);
  border-radius: var(--border-radius);
  cursor: pointer;
  outline: none;
  background: none;
  font-size: var(--text-size-delivery);
}

.button_for_form_delivery:active {
  background: rgb(51, 180, 8);
}

.wrapper_for_error_message {
  display: flex;
  width: 330px;
}

.error_message_not_time_and_message_delivery {
  color: crimson;
  text-align: center;
  font-size: var(--text-size-delivery);
  font-weight: bold;
}
