.centering {
    margin-left: auto;
    margin-right: auto;
    width: 375px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(2, 180px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-bottom: 70px;
}

.products-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 5px;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.products-title {
    text-align: center;
    min-height: 70px;
    padding-left: 5px;
    padding-right: 5px;
}

.products-title__text {
    font-size: var(--text-size);
    line-height: 100%;
    font-weight: bold;
}

.products-element__img {
    width: 80%;
    height: 150px;
    margin-top: var(--spacing-medium);
    object-fit: contain;
}

.products-element__description {
    text-align: justify;
    font-size: var(--text-size);
    color: var(--color-unaccent);
    line-height: 110%;
    margin: 0;
    height: 60px;
    margin-left: 5px;
    margin-right: 5px;
}

.products-element__price {
    font-size: var(--text-size);
    font-weight: bold;
    margin-top: var(--spacing-medium);
    color: var(--color-unaccent);
}

.products-element__btn {
    display: block;
    margin-top: var(--spacing-medium);
    padding: var(--spacing-small) var(--spacing-medium);
    border: 1px solid var(--color-unaccent);
    border-radius: var(--border-radius);
    cursor: pointer;
    outline: none;
    background: none;
    font-size: var(--text-size);
}

.products-element__btn:active {
    background: rgb(51, 180, 8);
}

.products-element__btn_not_active {
    display: none;
}

.products-element__btn_quantity {
    display: block;
    margin-top: var(--spacing-medium);
    padding: var(--spacing-small) var(--spacing-medium);
    border: none;
    outline: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    font-size: var(--text-size);
}

.wrapper_for_btn_set_quantity {
    display: flex;
    gap: 2px;
}
